@media screen and (max-width:576px) {
    .nav-container,.sec-1,.sec-2,.sec-3,.sec-4{

        display: none;
    }
    .heading{
        flex-direction: column-reverse;

    }
    .heading-img{
        width: 202px;
        height: 190px;
    }
    .heading-container{
        width: 200px;
        height: 68px;
    }
    
}
