/* <!-- google font poppins ------------->  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;

}

* {
    margin: 0px;
    color: #3A3A3A;
}

/* ------------------
navigation section style
---------------------- */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 96px 140px 0px 140px;

}

.nav-title {
   
    height: 32.2px;
    font-size: 28px;

}


.nav-item {
    list-style: none;
    display: inline;
    display: grid;
    grid-template-columns: repeat(4, 90px) 44px 44px;
    column-gap: 10px;
    height: 44.8px;
    font-size: 20px;

}


/* heading section with main camera--------
-------------------------------------- */
.heading {

    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 0px 200px 0px 140px;

}

.heading-title {
    font-size: 52px;
    width: 582px;
    height: 133px;
    margin-top: 285px;
}

.heading-description {
    font-size: 16px;
    width: 505px;
    height: 61px;
    padding: 16px 0px;
}

.heading-img {
    width: 440px;
    height: 414px;
    border: 1px solid #F1E4FF;
    border-radius: 440px;
    margin-top: 185px;
}

.btn-prebook {
    background-color: #E02C6D;
    color: #fff;
    border: none;
    width: 150px;
    height: 40px;
    border-radius: 15PX;
    padding: 10px 24px;
}

/* online shop style-------------------- */

.shoplist {
    list-style: none;
    display: inline;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    margin: 70px 200px;
    column-gap: 60.32px;
    border-top: 1px solid #C0CCDA99;
    border-bottom: 1px solid #C0CCDA99;
    padding: 40px 0px;
}

/* -----------------------------*
-------------------------
Popular products section styless */

.Popular-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0px 300px;
    row-gap: 20px;
    column-gap: 20px;


}

.product {
    background-color: #FFF;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 1px 10px 10px grey;
    
    width: 408px;
    height: 600px;
}

.fa-star.filled {
    color: orange;
}

.product-img {
    width: 380px;
    height: 286px;
    border-radius: 5px;
    padding: 16px 14px;

}

.product-name {
    font-size: 28px;
    padding: 16px 14px 6px 14px;
    color: black;

}

.product-price {
    font-size: 24px;
    padding: 6px 14px 6px 14px;

}

.product-rating {
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding: 5px 14px 5px 14px;

}

.product-status {
    height: 40px;
    width: 196px;
    font-size: 14px;
    padding: 5px 14px 5px 14px;

}

.product-description {
    height: 100px;
    width: 200px;
    font-size: 14px;
    padding: 0px 14px 16px 14px;
}

.btn-see-more {
    width: 150px;
    height: 34px;
    background-color: #E02C6D;
    border: none;
    color: #FFF;
    font-size: 20px;
    position: relative;
    left: 1420px;
    top: 50px;
    border-radius: 10px;

}

/* --------featured products section style */

.Featured-products {

    display: flex;
    justify-content: space-around;
    flex: 1;
    margin: 0px 200px 0px 140px;

}
.Featured-products-img {
    width: 480px;
    height: 280px;
    border: 1px solid #F1E4FF;
    border-radius: 10px;
    margin-top: 185px;
    margin-bottom: 100px;
}

.Featured-products-title {
    font-size: 38px;
   
    margin-top: 185px;
}

.Featured-products-description {
    font-size: 16px;
    width: 505px;
    height: 61px;
    padding: 16px 0px;
}



.btn-join-now {
    background-color: #E02C6D;
    color: #fff;
    border: none;
    width: 160px;
    height: 50px;
    border-radius: 15PX;
    padding: 10px 24px;
    margin: 16px 0px;
    font-size: 20px;
    
}
/* footer section style */
footer .footer{
    background-color: #0A0826;
    
    text-align: center;
    height: 250px;
}
.footer-title{
padding-top: 50px;
color: #FFFFFF;
}
.footer-copyright{
    color: #FFFFFF;
}